@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jossain 11<br />
    11111 Kaukana<br />
    <abbr title="Phone">P:</abbr>
    041 111 11 11
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:tuki@esimerkki.com">tuki@esimerkki.com</a><br />
    <strong>Viestintä:</strong> <a href="mailto:mainonta@esimerkki.com">mainonta@esimerkki.com</a>
</address>